<header class="banner">
  <div id="logo-div" class="header-container">
    <img [src]="src" [alt]="alt" />
  </div>
  <div id="nav-div" class="header-container">
    <div class="header-content-container">
      <nav class="header-nav">
        <a class="header-anchor" href="">
          <img class="img-anchor" src="../../../assets/Icons/Add Livro.svg" alt="Adicionar Livro">
          Add Livro
        </a>
        <a class="header-anchor" href="">
          <img class="img-anchor" src="../../../assets/Icons/Add Genero.svg" alt="Adicionar Gênero">
          Add Gênero
        </a>
      </nav>
      <a class="header-anchor" href="">
        <img class="img-anchor" src="../../../assets/Icons/User Icon 2.svg" alt="Icone usuário">
        Conta
      </a>
    </div>
  </div>
</header>
