<header class="banner sticky-top fixed-top">
  <div class="header-content">
    <div id="logo-div" class="header-container">
      <div class="header-container-img">
        <img [src]="src" [alt]="alt" />
      </div>
      <div class="header-container-box"></div>
    </div>
    <div id="nav-div" class="header-container">
      <div class="header-content-container">
        <nav class="header-nav">
          <a class="header-anchor" href="">
            <img class="img-anchor" src="../../../assets/Icons/Add Livro.svg" alt="Adicionar Livro">
          </a>
          <a class="header-anchor" href="">
            <img class="img-anchor" src="../../../assets/Icons/Add Genero.svg" alt="Adicionar Gênero">
          </a>
        </nav>
        <a class="header-anchor" href="">
          <img class="img-anchor" src="../../../assets/Icons/User Icon 2.svg" alt="Icone usuário">
          Conta
        </a>
      </div>
    </div>
  </div>
  <div class="scroll-watcher"></div>
</header>
