<section class="footer">
  <div class="footer-container">
    <div class="footer-container-box">
      <h3 class="list-name"><u class="styled-purple-underline">Siga</u> a gente! :)</h3>
      <ul class="list-list">
        <li class="list-item"><a class="list-anchor" href="">Instagram</a></li>
        <li class="list-item"><a class="list-anchor" href="">LinkedIn</a></li>
        <li class="list-item"><a class="list-anchor" href="">BlueSky</a></li>
      </ul>
    </div>
    <div class="footer-container-box">
      <h3 class="list-name"><u class="styled-purple-underline">Dúvi</u>das?</h3>
      <ul class="list-list">
        <li class="list-item"><a class="list-anchor" href="">Gmail</a></li>
        <li class="list-item"><a class="list-anchor" href="">Twitter</a></li>
        <li class="list-item"><a class="list-anchor" href="">Github</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-container">
    <div class="footer-icon">
      <span class="footer-icon-span">Udesc CEAVI - 2024/02</span>
      <img class="footer-icon-img" src="" alt="logo udesc">
    </div>
  </div>
</section>
