.footer img{
  max-width: 100%;
}

.footer {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  background-color: white;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #6278F7;
  border-bottom: none;
  height: min-content;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer-container-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.list-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.list-name {
  text-align: center;
  width: 100%;
}

.list-item {
  width: 100%;
  text-align: center;
}

.list-anchor {
  color: #6278F7;
  text-decoration: none;
}
